{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block body %}
    <div class="col-md-8">
        {% for blog in blogs %}
            <div class="post-preview">
                <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}">
                    <h2>{{ blog.title }}</h2>
                    <h3 class="post-subtitle">
                        {{ blog.body|truncate(100) }}
                        {#                             <p class="continue"><a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}">Continue reading...</a></p>#}
                    </h3>
                    <img src="{{ asset(['/uploads/images/', blog.image]|join) }}"  style="width:400px; height:200px;" />
                </a>
                <br>
                
                <p class="post-meta"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></p>
                        {#                   <footer class="meta">#}
                        {#                    <p>Comments: -</p>#}
                        {#                <p>Posted by <span class="highlight">{{blog.author}}</span> at {{ blog.created|date('h:iA') }}</p>#}
                <p >Tags: <span class="highlight">{{ blog.tags }}</span></p>
                    {#                </footer>#}
            </div>
            <hr>


        {% else %}
            <p>There are no blog</p>
        {% endfor %}

    </div>
    <div class="col-md-3 col-md-offset-1">
        <h4>Categories</h4>
        <ul>
            {% for  category in categories %}
                <li><a href="{{path('BloggerBlogBundle_category',{'category_id':category.id}) }}" />{{ category.name }} </a></li>
                {%endfor %}
        </ul>
    </div>

{% endblock %}