{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{asset("bundles/framework/css/form.css")}}" type="text/css" rel="stylesheet" />
{% endblock %} 
{% block sidebar %}
    Sidebar content
{% endblock %}