<form action="{{ path('BloggerBlogBundle_comment_create', { 'blog_id' : comment.blogpost.id } ) }}" method="post" class="blogger">
        {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>